.header{
   margin-top: 50px;
   // margin-bottom: 50px;
}

.visually-hidden{
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap;
   width: 1px;
}

.futer{
   display: flex;
}
.futer__text{
  color: red; 
}
.futer__number{
   color: rgb(16, 13, 13);
}