.products__title {
    text-align: center;
    background-color: black;
    color: #FEFCF7;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin-top: 50px;
    padding: 10px;
    margin-bottom: 30px;
}

.products__content {
   text-align: center;
   align-items: center;
   
  
  

   



}

.products__wrapper{
    margin-left: 100px;
 }

.products__wrapper {
    margin-left: 1px;
    padding: 10px;
    background-color: black;
    color: #FEFCF7;
    border-radius: 10px;
    display: block;
    font-weight: 500px;
    font-size: 24px;
    line-height: 32px;
}

.products{
    display: flex;
}
.products__text{
   color: red; 
   
}
.products__number{
    color: rgb(16, 13, 13);
}